version: 2
jobs:
  checks:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run:
          name: yarn
          command: yarn
      - run:
          name: lint
          command: yarn lint
      - run:
          name: test
          command: yarn test:unit

  release:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run:
          name: yarn
          command: yarn
      - run:
          name: build
          command: yarn build
      - run:
          name: release
          command: yarn semantic-release || true

  functional-test-released:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run:
          name: yarn
          command: yarn
      - run:
          name: build
          command: yarn build
      - run:
          name: install additional dependencies
          command: yarn add typeorm aws-sdk typeorm-aurora-data-api-driver
      - run:
          name: wake up test database
          command: node test/functional/utils/wake-db-up.js
      - run:
          name: run functional test
          command: yarn test:func

  functional-test:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run:
          name: yarn
          command: yarn
      - run:
          name: build
          command: yarn build
      - run:
          name: create link
          command: npm link
      - run:
          name: checkout typeorm
          command: git clone --single-branch --branch feature/aurora-data-api https://github.com/ArsenyYankovsky/typeorm.git
      - run:
          name: build typeorm with current package
          command: cd typeorm/ && npm i && npm run package && cd build/package && npm link && rm -rf node_modules/typeorm-aurora-data-api-driver && npm link typeorm-aurora-data-api-driver
      - run:
          name: link built typeorm
          command: npm i aws-sdk && npm link typeorm
      - run:
          name: wake up test database
          command: node test/functional/utils/wake-db-up.js
      - run:
          name: run functional test
          command: yarn test:func

workflows:
  version: 2
  release:
    jobs:
      - checks:
          filters:
            branches:
              only:
                - master
      - functional-test:
          filters:
            branches:
              only:
                - master
          requires:
            - checks
      - release:
          filters:
            branches:
              only:
                - master
          requires:
            - functional-test

  nightly:
#    triggers:
#      - schedule:
#          cron: "0 0 * * *"
#          filters:
#            branches:
#              only:
#                - master
    jobs:
      - checks:
          filters:
            branches:
              only:
                - fix-nightly
      - functional-test-released:
          filters:
            branches:
              only:
                - fix-nightly
          requires:
            - checks

  check-commit:
    jobs:
      - checks
      - functional-test:
          requires:
            - checks
